.site-layout-content {
  min-height: 90vh;
}

.logo {
  float: left;
  width: 100px;
  height: 32px;
  margin: 16px 0 16px 0;
  background-image: url('./logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.ant-page-header {
  padding: 16px 0px;
}

.ant-layout-header {
  padding: 0;
}

.menu-url {
  font-size: 1.5rem;
  font-weight: bolder;
  color: black;
}

.ant-upload.ant-upload-drag {
  height: 640px;
  border-width: 2px;
  border-radius: 8px;
}